body{
  background-color: #d5fff7;
  color: black;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1, h2{
  color:#66bfbf;
}
h1{
  line-height: 1.5;
  font-family: 'Grape Nuts', cursive;
  font-size:5.5rem;
  margin: 125px auto 0px auto;
}
h2 {
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Monserrat', sans-serif;
  margin: 15px auto 35px auto;
}
h3, a{
  color: #11999e;
}

.top-container{
  border-width: 10px;
  padding: 20px;
}

.profile-img{
  width: 192px;
}

.skill-row{
  width: 50%;
  height: 225px;
  margin: 0px auto;
  text-align: left;
  line-height: 2;
}

.coding-skill-img {
  width: 25%;
  margin-right: 25px;
  float: left;
}
.mentoring-skill-img {
  width: 22.5%;
  margin-left: 25px;
  float: right;
}

.cloud-top, .cloud-bottom{
  width: 200px;
  height: 100px;
  position: absolute;
}
.cloud-top{
  left: 57%;
}
.cloud-bottom{
  right: 57%;
}
.mountain{
  width: 700px;
  margin: 200px auto 125px auto;
  display: block;
}

.pro{ text-decoration: underline; }

hr{
  border-style: dotted none none none;
  border-width: 5px;
  border-color: grey;
  width: 10%;
  height: 0px;
}
