body{
  background-color: #d5fff7;
  color: black;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h2 {
  font-size: 2rem;
  font-family: 'Monserrat', sans-serif;
  margin: 15px auto 35px auto;
}
h3{
}


h1{
  font-family: 'Grape Nuts', cursive;
  font-size:5.5rem;
  margin: 125px auto 0px auto;
}

p{
}

.top-container{
  border-width: 10px;
  padding: 20px;
}
.middle-container{


}

.bottom-container{


}

.cloud-top, .cloud-bottom{
  width: 200px;
  height: 100px;
  position: absolute;
}
.cloud-top{
  left: 57%;
}.cloud-bottom{
  right: 57%;
}
.mountain{
  width: 700px;
  margin: 175px auto 0px auto;
  display: block;
}

.pro{ text-decoration: underline; }

hr{
  border-style: dotted none none none;
  border-width: 5px;
  border-color: grey;
  width: 10%;
  height: 0px;
}
